/* <<<--------- GENERAL STYLINGS -------->>> */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: #3c3b37;
}

a:hover,
a:focus {
  color: #5eb7c5;
}

.icon,
.search_box button > img {
  width: 1.3em;
  color: crimson;
}

body {
  font-size: 1rem;
  font-weight: 400;
  color: #3c3b37;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.main_nav,
.brand_side,
.search_box,
.right_hand,
.first_box,
.banner_side,
.topics,
.arrow > span,
.cards_parent,
.cards_parent .card > .card_texts,
.card_texts > .new_tag,
.card_texts > .hot_tag,
.cards_parent .card .card_texts > .ratings,
.cards_parent .card .ratings > .stars,
.courses_arrow > span {
  display: flex;
}

/* <<<--------- GENERAL STYLING ENDS -------->>> */




/* <<<--------- TABLE PROJECT STYLINGS START HERE -------->>> */

table {
  height: auto;
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background: #e9e8c4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.212);
}

table,
th,
td {
  border: 1px solid rgba(4, 32, 13, 0.37);
  overflow: hidden;
  border-radius: 5px;
}

table > caption {
  font-size: .9rem;
  text-transform: uppercase;
  margin-bottom: .8em;
}

thead > tr,
tbody > tr {
  line-height: 50px;
}

thead > tr {
  background-color: black;
}

thead tr > th {
  color: #fff;
}

tbody > tr:nth-child(2),
tbody > tr:nth-child(4) {
  background-color: black;
}

tbody tr:nth-child(2) > th,
tbody tr:nth-child(4) > th,
tbody tr:nth-child(2) > td,
tbody tr:nth-child(4) > td {
  color: #fff;
}

th {
  font-size: 1.23rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

td:last-child {
  width: 90px;
}

tr:not(:first-of-type) {
  line-height: 50px;
}

@media screen and (max-width: 700px) {
  table {
    width: 90vw;
  }

  table > caption {
    font-size: .7rem;
    margin-bottom: .96em;
  }

  thead > tr,
  tbody > tr {
    line-height: auto;
  }

  td,
  th {
    width: 140px;
  }

  td {
    font-size: .95rem;
  }

  th {
    font-size: .99em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.795);
  }
}

/* <<<--------- TABLE PROJECT STYLINGS END HERE -------->>> */